[submodule ".config/dwm/dwm"]
	path = .config/dwm/dwm
	url = git@github.com:evanriley/dwm.git
[submodule ".config/dwm/dwmblocks"]
	path = .config/dwm/dwmblocks
	url = git@github.com:evanriley/dwmblocks.git
[submodule ".config/slock/slock"]
	path = .config/slock/slock
	url = git@github.com:evanriley/slock.git
[submodule ".config/st/st"]
	path = .config/st/st
	url = git@github.com:evanriley/st.git
[submodule ".config/dmenu/dmenu"]
	path = .config/dmenu/dmenu
	url = git@github.com:evanriley/dmenu.git
[submodule ".config/keyboards/qmk"]
	path = .config/keyboards/qmk
	url = git@github.com:qmk/qmk_firmware.git
